{#{% extends 'base.html' %}#}
{#{% load static %}#}
{#{% block content %}#}
{#    <link rel="stylesheet" href="{% static 'css/book_list.css' %}">#}
{#    <section class="book-list">#}
{#        {% for book in books %}#}
{#            <div class="book-card">#}
{#                <div class="book-image">#}
{#                    {% if book.book_image %}#}
{#                        <a href="{% url 'books-detail' book.pk %}">#}
{#                            <img src="{{ book.book_image.url }}" alt="Book Cover">#}
{#                        </a>#}
{#                    {% endif %}#}
{#                </div>#}
{#                <div class="book-info">#}
{#                    <p class="tag">{{ book.category }}</p>#}
{#                    <h2 class="title">{{ book.title }}</h2>#}
{#                    <p class="author">{{ book.author }}</p>#}
{#                    <div class="book-meta">#}
{#                        <span class="year">{{ book.published_date.year }}</span>#}
{#                        <span class="read-time">{{ book.category }}</span>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        {% endfor %}#}
{#    </section>#}
{#{% endblock %}#}