{#{% extends 'base.html' %}#}
{#{% block content %}#}
{#<div class="container my-5">#}
{#  <div class="row justify-content-center">#}
{#    <div class="col-lg-8 col-md-10 col-sm-12">#}
{#      <div class="card shadow-sm">#}
{#        <div class="card-header text-center bg-danger text-white">#}
{#          <h3>Confirm Delete</h3>#}
{#        </div>#}
{#        <div class="card-body text-center">#}
{#          <p>Are you sure you want to delete the book <strong>{{ book.title }}</strong>?</p>#}
{#          <form method="POST">#}
{#            {% csrf_token %}#}
{#            <button type="submit" class="btn btn-danger">Delete</button>#}
{#            <a href="{% url 'books-detail' book.pk %}" class="btn btn-secondary">Cancel</a>#}
{#          </form>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{#</div>#}
{#{% endblock %}#}
