{#{% extends 'base.html' %}#}
{#{% load static %}#}
{#{% block content %}#}
{#    <link rel="stylesheet" href="{% static 'css/book_detail.css' %}">#}
{#    <div id="book-details-card">#}
{#    <div id="book-info-section">#}
{#        <div id="book-image-section">#}
{#            {% if book.book_image %}#}
{#            <img id="rasm" style="height: 360px; width: 280px; border-radius: 10px" src="{{ book.book_image.url }}" alt="{{ book.title }}">#}
{#             {% else %}#}
{#             <img id="rasm" style="height: 360px; width: 280px; border-radius: 10px" src="book-placeholder.jpg" alt="Book Cover">#}
{#             {% endif %}#}
{#         </div>#}
{#              <div id="book-datas-section">#}
{#                <h2 id="book-title">{{ book.title }} </h2>#}
{#                <h2 id="book-author">Author: <strong>{{ book.author }}</strong></h2>#}
{#                  <p id="book-year">Year: {{ book.published_date.year }}</p>#}
{#                 <p id="book-category">Category: <strong>{{ book.category }}</strong></p>#}
{#                  #}
{##}
{#        </div>#}
{#    </div>#}
{#    <div id="book-btns">#}
{#            <a id="buy-now-btn" href="{{ book.book_pdf.url }}" download>Yuklab olish</a>#}
{#            <a id="buy-now-btn" href="{% url 'books-edit' book.pk %}">Tahrirlash</a>#}
{#            <a id="buy-now-btn" href="{% url 'books-delete' book.pk %}">O'chirish</a>#}
{#        </div>#}
{#</div>#}
{#	#}
{#{% endblock %}#}