{#{% extends 'base.html' %}#}
{#{% load static %}#}
{#{% block content %}#}
{#    <link rel="stylesheet" href="{% static 'css/book_create.css' %}"> #}
{#       <div id="formCard">#}
{#           <form id="form" method="post" enctype="multipart/form-data">#}
{#            {% csrf_token %}#}
{#            {{ form.as_p }}#}
{#            <div id="text-center">#}
{#              <button type="submit" id="btn">Submit</button>#}
{#            </div>#}
{#          </form>#}
{#       </div>#}
{##}
{#{% endblock %}#}