#formCard{
    background-color: white!important;
    width: 100%;
    height: auto;
    margin-top: 55px;
    padding-top: 15px;


}
#form{
    background: linear-gradient(to right,blue, #3232e6, #6262f8);
    width: 40%;
    margin: auto;
    padding: 20px 30px;
    border-radius: 8px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* 3 equal columns */
    color: white;


}
/*#form:nth-child(1) label{*/
/*    display: block;*/
/*    width: 100%;*/

/*}*/
#form input{
    display: block;
    width: 90%;
    height: 30px;
    outline: none!important;
    border-radius: 5px;
    border: 2px solid transparent;

}
#form input::placeholder{
    color: white;
}
#form select{
    width: 30%;
    display: block;
    height: 30px;
    outline: none!important;
    border-radius: 5px;
    border: 2px solid white;

}
#btn{
    border: none;
    outline: none;
    padding: 2px 20px;
    font-size: 18px;
    border-radius: 4px;
    font-weight: 500;
}
#btn:hover{
    color: blue;
    background: white;

}